.Contact-Comp {
	color:#fff;
	list-style:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    height:100%;
}
.send-form {

	display:flex;
	flex-direction:column;
	align-items: center;
}

.form-input {
	margin:.2rem 0 0 0;
	font-size: 1rem;
	border-radius: 2rem;
	border:none;
	padding:.5rem;
}
.send-btn {
	color:#00f;
	margin-top:.4rem;
	font-size: 1rem;
	background-color:#e0e0e0;
	border:solid 1px #e0e0e0;
	padding:.7rem 2rem;
	border-radius: 2rem;
}