.clockmain-Container {
	background-image: url('./Home.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.clock-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.clock-h1 {
	padding: 0.5rem 1rem;
	color: #fff;
}
