.Aboutus-Container {
	color: #fff;
	background-image: url('./Aboutus.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}
.Aboutus-p {
	margin: 0 3rem;
}
