img {
    display:inline-block;
    height: 5rem ;
    margin:2rem;
}
.SocialMedia-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 736px){
      .SocialMedia-container {
        flex-direction:row;
        justify-content: space-around;
        align-items:center;
        height:100%;
    }
}