.Downloads-Comp {
	background-image: url('./Reports.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 1rem 0rem;
	background-color: #;
}
.Headers {
	margin: 0.5rem 0rem;
	color: rgb(0, 0, 0);
}
.download-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.linkIterm {
	padding: 0.5rem;
}
.download-list li a {
	text-decoration: none;
	color: #000;
}
