.infolinks-Container {
  display: inline-grid ;
  margin : 0 2rem 1rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap:10px;
}
.infolinks-item {

  background-color:#5555;
  padding:2rem;

}
.infolinks-list {
  display: grid;
  list-style: none;
  justify-content: center;
  align-content: center;

}

.infolinks-list li a {
  text-decoration:none;
  color:#000;

}
