.Contact-Comp {
	    background-image: url('https://images.pexels.com/photos/33999/pexels-photo.jpg?cs=srgb&dl=marketing-office-working-business-33999.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color:rgb(161, 161, 161);
	list-style:none;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    height:100vh;
}
.send-form {

	display:flex;
	flex-direction:column;
	align-items: center;
}

.form-input {
	margin:.2rem 0 0 0;
	font-size: 1rem;
	border-radius: 2rem;
	border:none;
	padding:.5rem;
}
.send-btn {
	color:#00f;
	margin-top:.4rem;
	font-size: 1rem;
	background-color:#5555;
	border:solid 1px #e0e0e0;
	padding:.7rem 2rem;
	border-radius: 2rem;
}