

.Downloads-Comp {
    padding:1rem 0rem;
    background-color:#;
    
}
.Headers {
    margin:0.5rem 0rem; 
    color:#fff;
}
.download-list {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    height:100%;

}

.linkIterm {
    padding: 0.5rem;
}
.download-list li a{
    text-decoration:none;
    color:#fff;
}